@model OnlineShop.Models.ApplicationUser

@{
    ViewData["Title"] = "Index";
}

<h2>Index Page</h2>
<br />

@section scripts{
    <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.11.2/build/alertify.min.js"></script>
    <script type="text/javascript">
             alertify.success(save);
            var edit = '@TempData["edit"]'
            if(edit!='') {
                alertify.success(edit);
            }
            var del = '@TempData["delete"]'
            if (del!='') {
                alertify.error(del);
        }
    </script>
}
